.rewards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.3);
    padding:.5rem;
}
.rewards p{
    font-size: 2rem;
}
.rewards p:nth-of-type(3){
    flex-basis: 100%;
    font-size: 1rem;
}