@import '../../sass/main.scss';

// .listInfoCardOrgTT13{
//     ul{
//         padding-left: 0%;
//         display: flex;
//         list-style-type: none;
//         justify-content: space-between;
//         background-color: #F3F3F3;
        
//         border-radius: 9px;
//         li{
//             font-style: normal;
//             font-weight: 400;
//             font-size: 16px;
//             line-height: 21px;
//             padding: 15px;
//             color: #8B8B8B;
//         }
//         li:first-child{
//             background: #E7E7E7;
//             border-radius: 9px 0px 0px 9px;
//             padding-left: 35px;
//             padding-right: 35px;
//             color: #404040;
//             font-style: normal;
//             font-weight: 700;
//             font-size: 18px;
//             line-height: 22px;
//         }
//     }
// }
.TableCardOrgTT13{
    color: $text_just_gray;
}
.TableCardOrgTT13 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-spacing: 0 8px; 
 td {
    
    background-color:$secondary_footer_soft_blue;
    // padding: 10px;
    margin: 10px
  }
  tr 
  {
    border-bottom: 1px solid $text_just_gray;
  }
}
  
.verifyButtonPendingDonation{
    @include Buttuns($medium-button, $button_blue_CTA);
    cursor: pointer;
        }
 .TableCardOrgTT13 td:nth-child(1){
    background-color:$secondary_teal_green;
    color: $text_pure_white;
}

// ================= MOBILE
@media screen and (max-width: $break-point) {
    .TableCardOrgTT13 thead {
        display:none;   
    }
    .TableCardOrgTT13 tr {
        display: flex;
        flex-direction: column;
        gap:0;
        padding: 1rem .5rem;
        align-items: start;
        background-color:$secondary_footer_soft_blue;
        border:none;
        border-radius:.5rem;
        
    }
    .TableCardOrgTT13 tr td:last-child {
        align-self: center;
        margin-top: .5rem;
        
    }
    .TableCardOrgTT13 tr td:nth-last-child(6){
        font-weight: bold;
        margin-bottom: .5rem;
        
    }
    .TableCardOrgTT13 tr td:nth-last-child(5)::before{
        content:"Method: ";        
    }
    .TableCardOrgTT13 tr td:nth-last-child(4)::before{
        content:"Date: ";        
    }
    .TableCardOrgTT13 tr td:nth-last-child(3)::before{
        content:"Quantity: ";        
    }
    .TableCardOrgTT13 tr td:nth-last-child(2)::before{
        content:"Status: ";        
    }
    .TableCardOrgTT13 td{
        margin: 0 1rem;
        padding: 0 1rem;
    }
    .TableCardOrgTT13 td:nth-child(1){
        background-color:$secondary_footer_soft_blue;
        color: $text_midnight_blue;
        font-weight: bold;
    }
    
}
    