@import '.././sass/main.scss';
.organization{
    display: grid;
    grid-template-columns: 25% 75%;
    height:auto;
}
.organization-dashboard-side-menu-container{
    display: flex;
    flex-direction: column;
}
.tt-102-donor-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tt-102-header-wrapper{
    width:100%;
}
.tt-102-footer-wrapper{
    width:100%;
}
// .side-menu-wrapper{
//     // width:30%
// }

.orgHeader{
    position:sticky;
    top:0;
    background: white;
    z-index: 2;
}

.tt-102-header-wrapperMobile
{
    display: none;
}
.organization-mobile-header-container
{
    display:none;
}

@media screen and (max-width: $break-point) {
    .tt-102-header-wrapperMobile
    {
        display: block;
        position:sticky;
        background: white;
        top:0;
        left:0;
        right:0;     
        z-index: 2;
    }
    .tt-102-header-wrapper
    {
        display: none;
    }
    .side-menu-wrapper
    {
        display:none;
    }
    .organization{
        display: grid;
        grid-template-columns: 100%;
        height:auto;
    }
    .organization-mobile-header-container
    {       
        display:block;
        position:sticky;
        background: white;
        top:45px;
        left:0;
        right:0;     
        z-index: 2;
    }
 }