.organization{
    display: grid;
    grid-template-columns: 25% 75%;
    height:auto;
}
.organization-dashboard-side-menu-container{
    display: flex;
    flex-direction: column;
}
.tt-102-donor-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tt-102-header-wrapper{
    width:100%;
}
.tt-102-footer-wrapper{
    width:100%;
}
