.tt-62-map-charities-desc-container{
    width:100%;
    height:auto; 
    position:absolute;
    background:blue;
    bottom: 0;
}
.tt-62-map-charities-desc{
    display:grid;
    grid-template-columns: 20% 80%;
}
.tt-62-charity-desc{
    
}
.tt-62-image-wrapper{
    width: 100%;
}