@import '../../sass/main.scss';
.loginsignupwrapper{
display: grid;
grid-template-columns: 2fr 3fr;
height: 100vh;

.loginsignupimage{
    background-image: url('./posterImage.png') ;
    background-size: cover; 
}
.loginsignupimageDonor,
.loginsignupimageOrg{
    background-image: url('./Donorimage.png') ;
    background-size: cover; 
    // height: 100vh;
}
.loginSignupformInnerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
}
.loginSignupformInnerWrapperCreateAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent_amethyst-light;
}
.login-form button,
.login-form input{
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(122, 120, 120);
}
.divToAddTechTribeLogo{
    display: grid;
    grid-template-rows: 7fr 1fr;
}
.techTribeLogo{
margin-right: 4rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    p{
        font-family: Roboto;
    font-size: 0.8125rem;
        margin-top: 20px;
        color:$text_not_just_gray
    }
}
@media screen and (max-width: $break-point) {
    .responsiveWrapper{
        display: none;
    }
    .loginsignupformWrapper{
        width: 100%;
        display: block;
    }
}