.loginsignupwrapper{
display: grid;
grid-template-columns: 2fr 6fr;
height: 100vh;

.loginsignupimage{
    background-image: url('./posterImage.png') ;
    background-size: cover; 
}
.loginSignupformInnerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
}