@import '../../sass/main.scss';
.wrapperBugFinder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.5rem;
    h3{
        margin-bottom: 1rem;
    }
}
.donationWishListCardWrapper{
    padding: 7%;
    padding-bottom: 13%;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    box-shadow: 0px 11.151514053344727px 33.45454406738281px 0px rgba(112, 144, 176, 0.32);
    border-radius: 1.04456rem;
   .donationWishListCardPoints{
    span{
        font-weight: $fw-bold;
        font-size: 1.5rem;
    }
    color: $text_midnight_blue;
    text-align: center;
    position: absolute;
    top: -35px;
    right: 0;
    background-color: $primary_crown_yellow;
    padding: 6%;
    border-radius: 50%;
   } 
   .donationWishListNumberInput{
    display: flex;
    border: 1px solid $text_not_just_gray;
    height: 2.5rem;
    align-items: center;
    input{
        border: none;
        text-align: center;
        margin: 0%;
    }
    button{
        border: none;
        background-color: $text_pure_white;
        margin: 0 15%;
        color: $text_not_just_gray;
    }
   }
}
.donorWishListToyCategory{
    background-color: #EEE;
    border-radius: 1.3rem;
    padding: 2% 8%;
    text-align: center;
    display: inline;
}