.CharityProfileCategoryCardWrapper{
   width:100%;
    .CharityProfileCategoryCardImgWrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        img{
            width: 50%;
        }
    }
   .CharityProfileCategoryCardPoints{
   }
}