
.donorHomeDashboardMap{
    padding: 3%;
    background-image: url(./mapScreenShot.png);
    background-color: rgba(0, 0, 0, 0.151);
    text-align: center;
    img{
        width: 60px;
        height: auto;
        border: 5px solid hotpink;
        margin: 40px;
    }
}