
.donorHomeDashboardMap{
    height: 38rem;
    background-image: url(./mapScreenShot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3%;

    text-align: center;

    border-radius: 1rem;
    img{
        width: 8rem;
        height: auto;

        &:hover{
            transform: scale(1.2);
            transition: all 0.4s;
        }
    }
}