@import '../../sass/main.scss';
.modalCongrats{
    text-align: center;
    width: 300px;
    a{
        text-decoration: none;
        color: $text_midnight_blue;
    }
    .go-home{
        @include Buttuns(200px, $button_soft_purple_CTA);
        padding: 2%;
    }
    .ThankYouWrapper{
        margin-left: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        img{
            width: 20px;
        }
    }
}

.instructions{
    h5{
        color:$text_just_gray;
    }
    border-top: 1px solid black;
    text-align: left;
}