@import '../../sass/main.scss';
.WrapperDonationHistory{
    ul{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 2%;
        border-radius: 15px;
    }
    li{
        list-style-type: none;
    }
}
.WrapperDonationHistory{
    padding:1rem;
    h3{
        color: $text_not_just_gray;
    }
}