@import '../../sass/main.scss';
.donationCategoryCardWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-bottom: 1rem;
    padding: 0 6rem;
    
    h5{
        color: $text_midnight_blue;
        margin-bottom: 0%;
        margin-top: 1rem;
    }
.donationCategoryCardWrappBorder{
    background-color: $text_pure_white;
    padding: 8%;
    border-radius: 8px;
}
    .donationCategoryCardImgWrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        
        img{
            width: 50%;
            border: 1px solid $text_midnight_blue;
            border-radius: 8px;
        }
    }
   .donationCategoryCardPoints{
    color: $text_midnight_blue;
    text-align: right;
    span{
        font-size: 1.5rem ;
        font-weight: $fw-bold;
    }

   } 
   .donationCategoryNumberInput{
    display: flex;
    border: 1px solid $text_not_just_gray;
    height: 2.5rem;
    input{
        border: none;
        text-align: center;
        
    }
    button{
        border: none;
        background-color: $text_pure_white;
        margin: 0 15%;
        color: $text_not_just_gray;
    }
   }
}
@media screen and (max-width: $break-point) {
    .donationCategoryCardWrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5rem;
        padding: 0 1rem;
    }
        
    
}
