@import '../../sass/main.scss';
.OrgVerQRCardWrapper
{
    margin:1rem;
    padding:1rem;
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 3px 4px 16px -1px rgba(177, 177, 177, 0.25);
    background-color: #fdfdfd;
    img 
    {
        width: 100%;
    }
    h2 
    {
        color:$secondary_teal_green;
        font-family: $font_heading;
    }
    p 
    {
        color:$text_just_gray;
        font-family: $font_body;
    }

}

.orgVerQRMessage
{
    background-image: url(./blurredQR.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center; 
    opacity: .9;    
    
    color:$text_midnight_blue;
    padding:5rem;
    h3 
    {
        text-align: center;                     
    }
}

@media screen and (max-width: $break-point) {
   .OrgVerQRCardWrapper
   {
    display:none;
   } 
}