.homeDashboardBadgeHistoryWrapper{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    .homeDashboardBage{
        text-align: center;
        background-color: rgba(128, 128, 128, 0.267);
        border-radius: 15px;
    }
}