.cardWrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    border-radius: 10px;
    box-shadow: 9px 10px 14px 0px rgba(0,0,0,0.31);
    

}
.cardWrapper img{
    width: 100%;
}