// Buttons:
$button_purple_CTA: rgba(102, 34, 170, 1);
$button_soft_purple_CTA: rgba(226, 212, 241, 1);
$button_blue_CTA: rgba(91, 205, 239, 1);

// Texts:
$text_just_gray: rgba(64, 64, 64, 1);
$text_midnight_blue: rgba(11, 19, 84, 1);
$text_not_just_gray: rgba(115, 110, 121, 1);
$text_pure_white: rgba(255, 255, 255, 1);

// Primary:
$primary_crown_yellow: rgba(252, 180, 36, 1);
$primary_crown_yellow_W40: rgba(254,241,216,1);
$primary_girly_pink:rgba(252, 76, 156, 1);
$primary_boy_blue:rgba(40, 179, 221, 1);

// Secondary:
$secondary_footer_soft_blue: rgba(221, 240, 244, 1);
$secondary_teal_green:rgba(32, 93, 118, 1);
$secondary_coral_pink:rgba(255, 160, 158, 1);
$secondary_soft_pink: rgba(254,212,231,1);

// Warning:
$secondary_green_to_go: rgba(13, 196, 104, 1); 
$secondary_ERR_red:rgba(238, 17, 86, 1);

// Accent:
$accent_amethyst:rgba(153, 102, 204, 1);
$accent_amethyst-light: rgba(153, 102, 204, 0.3);
$accent_baby_beige:rgba(250, 248, 218, 1);
