$primary_crown_yellow:#FCB424;
$primary_girly_pink:#FC4C9C;
$primary_boy_blue:#28B3DD;
$primary_amethyst:#9966CC;
$primary_t_gray:#404040;

$secondary_baby_beige:#FAF8DA;
$secondary_coral_pink:#FFA09E;
$secondary_teal_green:#205D76;
$secondary_midnight_blue:#0B1354;
$secondary_not_just_gray:#736E79;
$secondary_background:#F1F1F1;