@import './buttons';
@import './colors';

@mixin roundedBorder($amt){
    border-radius:$amt;
}

@mixin customButton($color){
    background: $color;
    color:white;
    padding:.7rem;
    outline:none;
    border:unset;
    @content;
}

@mixin displayfc(){
    display: flex;
    flex-direction: column;
}

@mixin borderBottom($pixel,$color){
    border-bottom: $pixel solid $color;
}


@mixin Buttuns($width, $color){
    width: $width;
    height: 56px;
    border-radius: 8px;
    background-color: $color;
    border: none;
}

@mixin mediumButton($width, $color){
    width: $width;
    height: 56px;
    border-radius: 8px;
    background-color: $color;
    border: none;

    color: $text_midnight_blue;
    font-family: $font-body;
}

