@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap');


$font-body: 'Roboto', sans-serif;
$font-heading: 'Lexend', sans-serif;
$font-custom:'Rubik', sans-serif;

$fw-bold: 700;
$fw-semi-bold: 600;
$fw-normal: 400;