@import '../../sass/main.scss';
.loginsignupformWrapper{
    text-align: center;
    align-items: center;
    width: 28.75rem;
    h3{
        color: black;
    }
   h5{
margin: 0;
color: black;
   }
   
}
.createAccountOrganization,
.createAccountDonor
{
    border: 1px solid $accent_amethyst;
    margin-left: auto;
    margin-right: auto;
width: 28.75rem;
display: grid;
grid-template-columns: 1fr 5fr;
margin-top: 2rem;
height: 6.75rem;
border-radius: $b-radius;
background-color: $text_pure_white;
align-content: center;
justify-items: start;
align-items: center;
text-align: left;
box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
cursor: pointer;

}
.createAccountOrganization:hover,
.createAccountDonor:hover{
background-color: $accent_amethyst-light;
border: 1px solid $accent_amethyst;
cursor: pointer;
}

button p{
    @include FootnoteRegular($text_not_just_gray);
    margin-top: .3rem;
}
.orgIcon,
.donorIcon{
  width: 3rem; 
  margin: 1rem; 
}
.site-logo{
    margin-bottom: 3rem;
}
.signUpLinkSignIn {
    margin-top: 1rem;
a{
    text-decoration: none;
    font-weight: $fw-semi-bold;
    color: $button_purple_CTA;
        &:hover{
            color: $primary_girly_pink;
        }
}
}

@media screen and (max-width: $break-point) {
    .loginsignupformWrapper{
        width: 100%;

        h5{
            font-size: 18px;
        }
    }
    .createAccountOrganization{
        width: 100%;
    }

}