@import '../../sass/main.scss';
.loginsignupformWrapper{
    text-align: center;
    align-items: center;
    width: 28.75rem;
   h5{
margin: 0;
   }
}
.createAccountOrganization,
.createAccountDonor
{
    margin-left: auto;
    margin-right: auto;
width: 28.75rem;
display: grid;
grid-template-columns: 1fr 5fr;
margin-top: 2rem;
height: 6.75rem;
border-radius: $b-radius;
background-color: $accent_amethyst-light;
border: 1px solid $accent_amethyst;

align-content: center;
justify-items: center;
align-items: center;
text-align: left;

}
button p{
    @include FootnoteRegular($text_not_just_gray);
}
.orgIcon,
.donorIcon{
  max-width: 3rem; 
  margin-left: 1rem; 
}
.site-logo{
    margin-bottom: 3rem;
}