@import '../../sass/main.scss';
.modalWrapper{
    padding:2rem;
    border-radius: 1rem;
    text-align: center;
    width: 400px;
    @media screen and (max-width: $break-point) {
        width: 90%;
        margin:auto;
    }
    h2{
        color: $accent_amethyst;
    }

    p{
        color:$text_midnight_blue;
    }
    h4{
        color: $text-just-gray;
        margin: 0;
    }

    .coupon-desc{
        border:1px solid $primary_boy_blue;
        border-radius:.5rem;
        padding:.5rem 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;        
    }

    button{
        @include Buttuns (100%, $button_soft_purple_CTA);

        a{
            color: $text_midnight_blue;
            text-decoration: none;
        }

        &:hover{
            background-color: $accent_amethyst;
            color: $text_pure_white;

            a{
                color: $text_pure_white;
            }
        }
    }
}

