.discCard{
    display: flex;
    // align-content: center;
    // align-items: center;
    justify-content: flex-start;

    border-radius: 10px;
    // background-color: #cbcbcb;
    background-image: url("https://picsum.photos/400/400?rand=437");
    background-size: cover;
 
    margin-left: 3rem;
    margin-right: 3rem;
}

.imageBanner{
    flex: 30%;
}

img .imageBanner{
    object-fit: cover;
}

.infoBanner{
    padding: 3rem;
    font-weight: bold; 
}