@import '../../sass/main.scss';

.home-welcome,
.home-map,
.home-stories,
.home-discount{
    padding: 0 4rem
}

.home-map,
.home-stories,
.home-rewards,
.home-discount{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.home-welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.home-rewards{
    background-color: #F5F0FA;
    padding: 2rem 4rem;
}

.rewards-info{
    display: flex;
    flex-direction: row;
    align-items:center;

    img{
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
    }
}

.home-welcome h1{
    color: $text_midnight_blue;
}

.home-rewards .custom-h1{
    color: $accent_amethyst;
    margin: 0;
}

.custom-h1{
    color: $text_midnight_blue;
}