.rewardsProfile{
    .rewardsProfileHeader{
        display: flex;
        justify-content: space-between; 
p{
 background-color: grey;
 padding: 2%;
 border-radius: 15px;
 min-width: 150px;
 text-align: center;
}
    }  
}

