@import '../../sass/main.scss';
.org-wrapper{
    width:100%;
    height:auto;
    display: flex;
    gap:1rem;
    padding:2rem;
    box-sizing: border-box;
    border-left: 1px solid $text_just_gray;
   
}
.OrgDataCard1
{
    display:none;
}
.OrgDataCard2
{
    display:block;
}
.org-list-wrapper{
    @include displayfc;
    width:70%;
    table{
        width:100%;
    }
    margin-right: 1rem;
}

.side-container{
    width:30%;
    gap:.5rem;
    @include displayfc;
    .cards-wrapper{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        // height:50%;
        gap:.5rem;
    }
    .org-pending-verification-header{
        display: flex;
        justify-content: space-between;
    }
}
.org-wrapper
{
    h5{
        color:$secondary_teal_green;
        padding:0;
        margin:0;
    }
}
.org-list-header{
  
    display: flex;
    justify-content: space-between;

    h2{
        margin:0;
        color:$secondary_teal_green;
    }
   
    button{
        @include customButton($primary_boy_blue);
        @include roundedBorder(9px);
        color:$text_midnight_blue;
        cursor: pointer;
        
        &:hover{
            background-color: $secondary_teal_green;
            color: $text_pure_white;
        }
    }
}

.org-cards-wrapper.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.crown 
{
    width: 15%;
    height: 15%;
    padding:0;
    margin:0;
}
.org-wishlist-crown 
{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:0;
    padding:0;
}
.org-pending-verification a
{
    text-decoration: none;
    color:$primary_boy_blue;
}

@media screen and (max-width: $break-point) {
    .org-wrapper,.org-list-header
 {
     flex-direction: column;
 } 
 .side-container{
    width:100%;
    gap:.5rem;
    @include displayfc;
    .cards-wrapper{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        // height:50%;
        gap:.5rem;
    }
    .org-pending-verification-header{
        display: flex;
        justify-content: space-between;
    }

}
.OrgDataCard1
{
    margin-top:1rem;
    display:block;
}
.OrgDataCard2
{
    display:none;
}
.org-list-header button 
{
   font-size: 1rem;
}
 }
 
