@import '../../sass/main.scss';
.donorWishListCardWrapper{
    padding: 5%;
}
.proceedToDonateTagLine{
display: flex;
justify-content: space-between;
align-items: baseline;
margin-bottom: 3rem;
button{
    @include Buttuns($largest-button, $button_soft_purple_CTA);
}
.proceedButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5{
        border-left: 1px solid $text_midnight_blue;
        padding: 0 10%;
    }
}
}
.proceedBefore{
    padding:1rem;
}
.wishListTitle{
    display: flex;
    align-items: center;
    img{
        width: 2.25rem;
        height: 100%;
        margin: 2%;
    }
}