@import '../../sass/main.scss';
.org-cards-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.forOrgDataCard{
    width:auto !important
}
.card-1,
.card-2,
.card-3,
.card-4{
    width: 200px;
    flex-basis:40%;
    flex-grow: 1;
    padding: 1rem;
    .img-wrapper{
        width:30%;
        img{
            width:5rem;
            @include roundedBorder(9px);
        }
    }
    @include roundedBorder(10px);

    h5{
        color: $text_pure_white;
    }
}

.card-1{
    background-color: #69CAE7;
}

.card-2{
    background-color: #FD94C4;
}

.card-3{
    background-color: #A099F2;
}

.card-4{
    background-color: #C2A3E0;
}

// ========== MOBILE 
@media screen and (max-width: $break-point) {
    .org-cards-wrapper{
        flex-wrap: wrap;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4{
        width: 200px;
        flex-basis:25%;
        flex-grow: 1;
        padding: 1rem;
    }

}
