@import '../../sass/main.scss';
.dropdown {
    position: relative;
    display: inline-block;    
  }
  
  .dropdown button {
    padding: 8px 16px;
    background-color: $secondary_footer_soft_blue;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1rem;
    color:$text_just_gray;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
  }
  
  .dropdown-content label {
    display: block;
    margin-bottom: 4px;
  }
  
  .dropdown-content input[type="checkbox"] {
    margin-right: 8px;
  }
  
  p {
    margin-top: 8px;
  }
  