@import '../../sass/main.scss';

.donationConfirmation-page{
    display: flex;
    flex-direction: row;
    @include globalPadding;
}

.donation-confirmation-list{
    flex: 45%;
}

.donation-confirmation-form{
    flex:55%;
}