@import '../../sass/main.scss';

.donationConfirmation-page{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    @include globalPadding;
}
.donationConfirmation-page-Wrapper h1
{
    @include globalPadding;
    img
    {
        width:2.5%;
        height:3%;
    }
}


.donation-confirmation-list{
    flex: 50%;
}

.donation-confirmation-form{
    flex:50%;
}