@import '../../sass/main.scss';

.tt-84-container{
    // background-color: $accent_amethyst-light;
    // display:flex;
    width:50%;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    text-align: left;
   
    p{
        color: $text_not_just_gray;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid $text_not_just_gray;
    }
    form label{
        color: $text_not_just_gray;
    }
    form input{
        margin-top: 1%;
        margin-bottom: 2%;
        height: 4rem;
        display: block;
        width: 100%;
        border-radius: 0.375rem;
        border: none;
    }
    #agreeTerms{
        display: inline;
        height: 1rem;
        width: min-content;
        margin-right: 3%;
    }
    .agreeTermsWrapper{
        display: flex;
        align-items: center;
    }
    button{
        @include Buttuns($largest-button, $button_purple_CTA);
        color: white;
        width: 100%;
        font-weight: $fw-semi-bold;
    }
    .signupHaveAccountText{
        text-align: center;
    }
    a{
        text-decoration: none;
        font-weight: $fw-semi-bold;
        margin-left: 2%;
    }
}
