@import '../../sass/main.scss';

.table-container{
    table{
        width:100%;
        border-collapse: collapse;
        margin-top:2rem;
        td:nth-of-type(1){
            text-align: left;
            background-color: transparent;
        }
        td{
            text-align: center;
            @include borderBottom(1px, $text_not_just_gray);
            padding:.5rem;
        }
        tr:nth-last-of-type() td{
            border-bottom: none;
        }
        thead{
            color: black;
            td{
                font-style: bold;
                font-family: $font_heading;
                font-weight: bold;
            }
        }
        tbody{
            color: $text_just_gray;
        }
    }
}