@import '../../sass/main.scss';

.homeDashboardRewardsCardWrapper{
    position: relative;
    background-color: $accent_amethyst;
    padding: 0.8rem;
    border-radius: 1rem;
    margin: 1rem;

    .homeDashboardRewardsCardImgWrapper img{
        border-radius: 0.5rem;
    }

    .homeDashboardRewardsPoints{
        text-align: center;
        background-color: $primary_girly_pink;
        color: white;
        width: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        right: -20px;
    }
    .redeemRewards{
        @include mediumButton(9rem,$button_soft_purple_CTA)
    }
}

#false
{
    pointer-events: none;
    opacity: 0.4;    
}

#false .redeemRewards
{
    pointer-events: none;      
}
