@import '../../sass/main.scss';

.WishlistBanner {
    position: relative;
    text-align: center;
    background-image: url(./wishlist_banner-min.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
      h2{
        color: $text_pure_white;
        font-size: 3rem;
        margin: 2rem;
      }

      button{
        @include Buttuns ($largest-button, $accent_amethyst);

          a{
            color: $text_pure_white;
            text-decoration: none;
          }

          &:hover{
            background-color: $button_soft_purple_CTA;
            a{
              color: $text_midnight_blue;
            }
          }

      }
  }
  
  .WishlistBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .WishlistBannerContent {
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: $break-point) {
    .WishlistBannerContent{
      h2{
        font-family: $font-heading;
font-size: 25px;
font-style: normal;
font-weight: $fw-bold;
line-height: 2.125rem;
      }
      button{
        margin-left: 4rem;
        margin-right: 4rem;
      }
    }
  }

  