.Verification {
    margin: 40px;
    
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 80px;
    }
  }
  
  .TableCardOrgTT13 {
    width: 100%;
    border-collapse: collapse;
  }
  
  .TableCardOrgTT13 th,
  .TableCardOrgTT13 td {
    padding: 8px;
    text-align: left;
  }
  
  .TableCardOrgTT13 th {
    background-color: white;
    border-bottom: 1px solid black;
  }
  
  .TableCardOrgTT13 tr {
    background-color: rgb(225, 225, 225);
    border-radius: 50px;
  }
  