.Verification{
    margin: 40px;
    h1{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 80px;
    }
    
}
.TitleCardOrgTT13{
    ul{
        font-weight: 600;
        padding-left: 0%;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        li{
            margin-left: 8px;
        }
    }

}