@import '../../sass/main.scss';
.tt-81-donationFormCardWrapper{
    background-color: #F5F0FA;
    padding: 1.5rem;
    border-radius: 1rem;

}


.tt-81-donationForm
{
    color:$text_just_gray;
    font-family: $font-body;
}

.tt-81-donationForm
{
    h1,h2,h3,h4,h5,h6 
    {
        color:$text_midnight_blue;
        font-family: $font-heading;
    }
    h3 
    {
        font-size: 20px;
    }
    p 
    {        
        margin-top:5px;
    }
}
.tt-81-donor-details
{
    display: flex;
    flex-direction: column;   
    background-color: $accent_amethyst-light;
    padding:1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    color:$text_midnight_blue;

    p 
    {
        margin:0;        
        color:$text_midnight_blue;
    }
}
.tt-81-donor-details a
{
    text-decoration: none;
    color:black;
}

.tt-81-donor-details-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    h4 
    {
        margin-bottom: .7rem;
    }
}
.tt-81-donor-details-header >*
{
    padding:0;
    margin:0;  
}
.tt-81-delivery-method, .tt-81-dateandtime
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 1rem 0 1rem 0;
}
#tt-81-dropOff, #tt-81-pickUp, #tt-81-date, #tt-81-time
{
    margin-left:3rem;
}
.tt-81-inputs label
{
    padding-left: .5rem;
}
// .tt-81-donation-instruction
// {
//     padding: 1rem 0 1rem 0;
// }
.tt-81-donation-instruction h3
{
  padding-bottom:.7rem;
}
.tt-81-checkboxes
{
    display:flex;
    flex-direction: column;
    // padding: 1rem 0 1rem 0;
}
.tt-81-buttons
{
    display: flex;    
    justify-content: center;
    
}
.tt-81-confirm
{
    margin-top:1rem;
    border-radius: 5px;
    padding:.5rem 2rem;
    background-color: $accent_amethyst-light;       
    color: $text_midnight_blue;
    font-weight: bold;
}
.tt-81-confirm:hover
{
    background-color: $accent_amethyst;       
    color: $text_pure_white;
}
.tt-81-confirm:active
{
    background-color: $accent_amethyst;
    color: $text_midnight_blue;
}
.tt-81-remind-me-label, .tt-81-confirm-details-label
{
    color:$text_midnight_blue;
}