@import '../../../../sass/main.scss';
.org-verification-request-container{
    display: flex;
    gap:1rem;
}
.org-verification-container{
    width:60%;
}
.org-verify-card-container{
    width:40%;
}


@media screen and (max-width: $break-point) {
    .org-verification-request-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1rem;
        margin:0;
        padding:0;
    }
    .org-verification-container{
        width:100%;
    }
    .org-verify-card-container{
        width:100%;
    }
}