@import '../../sass/main.scss';
.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    color:$text_just_gray; 

    a 
    {
        text-decoration: none;
        padding: 1rem 2rem;
        color:$text_midnight_blue;
        font-size: 1rem;
    }
    button 
    {   
        @include Buttuns($largest-button, $button_soft_purple_CTA);
        color:$text_midnight_blue;
    }
    button:hover
    {
        background-color: $accent_amethyst;   
        a{    
        color: $text_pure_white;
        }
    }
    button:active
    {
        background-color: $accent_amethyst;
        a{    
            color: $text_midnight_blue;
        }
    }
}
.error-page-image-wrapper
{
    margin:2rem;
}
.errorPage .fa-exclamation-triangle, .errorPage h1
{
    padding:1rem;
    color:$secondary_ERR_red;
    font-size: 5rem;
}

@media screen and (max-width: $break-point) {
    .error-page-image-wrapper
    {
       display:flex;
       justify-content: center;
    }
    .errorPage .fa-exclamation-triangle, .errorPage h1
    {       
        padding:.5rem;
        font-size: 3rem;
    }
}
