@import '../../sass/main.scss';
.tt-22-donorHeaderWrapper
{      
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;     
    color:$text_midnight_blue;
    button 
    {
        border:none;
        padding:.5rem 1rem;
        border-radius: 2rem;
        background-color: $accent_amethyst-light;
        color:$text_midnight_blue;
    }  
}
.tt-22-donor-image-wrapper
{
    @include mobilePadding;
    margin-top: .5rem;  
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.tt-22-main-menu li
{    
    display: block;
    width: 100%;
    list-style: none;   
    padding: 1rem 0 1rem 0;
    margin:0;   

    &:hover{
        background-color:$primary_boy_blue;
        color:$text_pure_white;

        a{
            color:$text_pure_white;
        }
    }

}

.tt-22-main-menu li a
{ 
    display: block;
    text-decoration: none;
    color:$text_midnight_blue;
    padding: 0 0 0 2rem;
    margin:0;
    font-family: $font-heading;
    font-size: 18px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: normal;

    &:hover{
        font-weight: $fw-bold;
    }
}

.fa-times-circle
{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    color: $accent_amethyst;
    
}
.tt-22-main-menu ul
{    
    display: flex;
    flex-direction:column;
    padding:0;
    margin:0;
    background-color: $secondary_footer_soft_blue;   
}

.tt-22-main-menu
{  
    width: 100%;        
    z-index:40;
    position: fixed;    
    top: 120px;   
    transform:translateX(0);    
    transition: all .5s ease-in-out;   
    
}
.tt-22-menu-active .tt-22-main-menu
{   
    transform:translateX(-100%);
    transition: all .5s ease-in-out;  
}
