.DashboardPoints{
    width: 300px;
    background-color: rgb(222, 222, 222);
    padding: 0.5rem;
}

.ContentPoints{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.point {
    font-size: 2.5rem;
    font-weight: 600;
}