.tt-101-DonorRewardsWrapper
{
    margin: 2rem 1rem;
}

.tt-101-rewards-profile-and-points
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tt-101-rewards-profile
{
    margin:1rem 3rem;
}

.tt-101-redeem-rewards h1, .tt-101-special-discount h1
{
  margin-left:3rem;
}