@import '../../sass/main.scss';

.charity_categories,
.charity_stories{
    @include globalPadding;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 6rem 4rem 6rem 4rem;
    background-color: $secondary_soft_blue;
}

.charity_categories,
.charity_stories{
    margin: 6rem 0 6rem 0;
}
.charity_categories{
    margin: 0%;
    padding: 0%;
}