@import '../../sass/main.scss';
.email-input-text{
  display: block;
  width: $largest-button;
  height: 64px;
}
.loginDonorButton:hover, 
.loginOrgButton:hover{
  @include Buttuns($medium-button ,$accent_amethyst_light);
  margin-right: 1rem;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
}
.input-text{
  display: block;
  width: $largest-button;
  height: 64px;
}
.loginDonorButton:active, 
.loginOrgButton:active{
  @include Buttuns($medium-button ,$accent_amethyst_light);
  margin-right: 1rem;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid $button_purple_CTA;
  background-color: $accent_amethyst-light;
}
.loginOrgButton,
.loginDonorButton{
  @include Buttuns($medium-button ,$text_pure_white);
  margin-right: 1rem;
  border: 1px solid $text_just_gray;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
}
.login-form-container{
    width:calc($largest-button+15px) ;
}
.login-form{
  margin-top: 20px;
}
.borderBottom{
    width: 207px;
    margin: 0%;
}
p{
    margin-top: 3px;
}

.or-separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  form .primary-button{
    @include Buttuns($largest-button, $accent_amethyst-light);
    margin-right: 0%;
  }
  .google-Facebook-Button button{
    @include Buttuns($largest-button, $text_pure_white);
    border: 1px solid black;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    margin-right: 0%;
  }
  
  .or-line {
    flex-grow: 1;
    border: none;
    border-top: 1px solid $text_just_gray;
  }
  
  .or-text {
    margin: 0 10px;
  }
  .google-Facebook-Button {
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
}
.loginRememberMe{
    border-radius: 2px;
    display: flex;
}