@import '../../sass/main.scss';

.charityInformation{
   display: flex;
   flex-direction: row;
   background-color: $button_soft_purple_CTA;
   padding: 4rem;
   gap: 2rem;

   h2{
    color: $text_midnight_blue;
   }

   .profileinformation{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: flex-end;
    }

    .profileImage{
    flex-basis: 50%;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
    
    button{
        @include Buttuns ($medium-button, $accent_amethyst);

        a{  
            color: $text_pure_white;
            text-decoration: $text_pure_white;
        }

        &:hover{
            background-color: $primary_boy_blue;
            a{
                color: $text_midnight_blue;
            }
        }
    }
}

.charity-logo{
    width: 8rem;
    height: auto;
    border-radius: .5rem;
}

