@import '../../sass/main.scss';
.verification-card-wrapper{
    width: 100%;
    @include roundedBorder(9px);
    padding:.5rem;
    
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: $secondary_footer_soft_blue;
    h5{
        color: black;
        font-size: 20px;
    }
   
    .verification-date-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin:0;
        }
        button{
            @include customButton($button_blue_CTA);
            border-radius: 10px;
            width:100px;

            a{
                color:$text_midnight_blue;
            }

            &:hover{
                background-color: $text_midnight_blue;
                a{
                    color: $text_pure_white;
                }
            }
            &:disabled{
                background-color: $text_not_just_gray;
                color: $text_just_gray;
            }
        }
    }
    .icon-author{
        display: flex;
        align-items: center;
        gap:.5rem;
        p{
            margin:0;
            font-size: 16px;
        }
        i{
            font-size: 16px;
        }
    }
}