@import '../../sass/main.scss';
.orgVerQRImg{
    width: 80%;
    height: auto;
  
.OrgVerQRCardWrapper img{
    width: 150px;
}

.orgVerQRText
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem;
}
.OrgVerQRCardWrapperActive
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 4px 16px -1px rgba(177, 177, 177, 0.25);
    border-radius: 2px;
    background-color: #fdfdfd;
    h2 
    {
        color:$secondary_teal_green;
        font-family: $font_heading;
    }
    p 
    {
        color:$text_just_gray;
        font-family: $font_body;
    }
}
.OrgVerQRCardButton
{
    display:flex;
    justify-content: center;    
}
.orgVerGotoDashboard
{
    background-color: $primary_boy_blue;
    color:$text_midnight_blue;
    margin:1rem;
    padding:1rem;
    border-radius: 5px;
    font-weight: $fw-bold;

}

@import '../../sass/main.scss';
.orgVerQRImg{
    width: 80%;
    height: auto;
  
}
.orgVerQRText
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem;
}
.OrgVerQRCardWrapperActive
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 4px 16px -1px rgba(177, 177, 177, 0.25);
    border-radius: 2px;
    background-color: #fdfdfd;
    h2 
    {
        color:$secondary_teal_green;
        font-family: $font_heading;
    }
    p 
    {
        color:$text_just_gray;
        font-family: $font_body;
    }
}
.OrgVerQRCardButton
{
    display:flex;
    justify-content: center;    
}
.orgVerGotoDashboard
{
    background-color: $primary_boy_blue;
    color:$text_midnight_blue;
    margin:1rem;
    padding:1rem;
    border-radius: 5px;
    font-weight: $fw-bold;

}

.org-ver-qr-active 
{
    display:flex;
    // flex-direction: column;
    align-items: center;
    justify-content:center;
    margin:1rem;
    padding:1rem;
}
}
