@import '../../sass/main.scss';
.orgVerQRImg{
    width: 100%;
    height: auto;
}
.OrgVerQRCardWrapper img{
    width: 150px;
}

 .orgVerQRText
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem;
}
.OrgVerQRCardWrapperActive
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 4px 16px -1px rgba(177, 177, 177, 0.665);
    background-color: #fdfdfd;
    padding: 1rem;
    border-radius: 1rem;
    h4 
    {
        color:$secondary_teal_green;
        font-size: 22px;
        font-weight: $fw-bold;
        font-family: 'Lexend';
        margin: 0;
    }
    p 
    {
        color:#8F8F8F;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: $fw-bold;
    }
}
.OrgVerQRCardButton
{
    display:flex;
    justify-content: center;    
}
.orgVerGotoDashboard
{
    @include Buttuns ($medium-button, $primary_boy_blue);
    color:$text_midnight_blue;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: $fw-bold;
    a{
        text-decoration: none;
        color: $text_midnight_blue;
    }

    &:hover{
        background-color: $text_midnight_blue;
        a{
            color:white;
        }
    }
    &:active{
        background-color: $text_midnight_blue;
        color:white;
    }
}
.orgVerGotoDashboard:hover
{    
    color:$text_pure_white;    
}
.orgVerGotoDashboard:active
{   
    background-color: $text_midnight_blue; 
    color:$text_pure_white;    
}

.org-ver-qr-active 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:2rem;
    padding:1rem;
}

