
.loginSidebar{
    padding: 3rem;
    background-image: url('./Screenshot.png') ;
    background-size: cover; 
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    .sidebarText{
        padding: 4%;
        width: auto;
        margin-bottom: 30%;
    }
    .loginLogo,
    .sidebarItemWrapper{
        // margin-left: 100px;
        color: white;
    }
    .loginLogo{
        margin-top: 2rem;
    }

}
