.loginSidebar{
    // width: 517px;
    background-color: gray;
    background-image: url(https://picsum.photos/) ;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    .loginLogo,
    .sidebarItemWrapper{
        // margin-left: 100px;
    }
    .loginLogo{
        // margin-top: 50px;
        // margin-bottom: 50px;
    }

}
